@media (max-width: 1023px) {
  .mobile-nav {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: all 0.3s;
  }

  .inner-nav {
    padding-top: 10px;
  }

  .inner-nav a {
    display: block;
  }

  .mobile-nav.collapsed {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }
}
